.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 16px;
}

.App-header-logo {
  text-align: left;
  width: 100%;
}

.App-header-actions {
  display: flex;
  justify-content: right;
  width: 100%;
}

.App-header-action {
  cursor: pointer;
  margin: 0px 6px;
}

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-nav {
  text-align: left;
  width: 100%;
  margin: 12px;
}

.App-form {
  display: flex;
  flex-direction: column;
  padding: 36px;
  background-color: cornsilk;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  margin: 30px;
}

.App-form-label {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
  margin: 8px;
}

.App-form-input {
  padding: 8px;
  min-width: 300px;
}

.App-form-select {
  padding: 8px;
  min-width: 320px;
}

.App-form-button {
  cursor: pointer;
  margin: 30px 8px 8px 8px;
  padding: 8px;
}

table,
th,
td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
}

td {
  min-width: 300px;
}
